* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
img {
    width: 100vw;
}
a {
    display: block;
    background-color: #0D1017;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    margin: -10px;
}
a:hover {
    background-color: #43A75B;
    transition: background-color 0.5s;
}